<div class="container"><br>
    <h4>LIBRARY RULES AND REGULATION :</h4><br>
    <ul>
        <li>Every staff / student of the college is eligible for membership of the Library</li>
        <li>Identity Card is compulsory for getting access to the library. No Books will be issued without ID card.</li>
        <li>Identity cards are not transferable. The borrower is responsible for the books borrowed on his/her card.</li>
        <li>All students should sign the entry register of the Library, before entering. </li>
        <li>Books borrowing limit: Faculty – 5, Non Teaching staff – 2, Student – 3.</li>
        <li>Readers are advised not to leave their precious and valuable items like money, passport, credit card etc. at the Property Counter.
        </li>
        <li>Silence to be maintained in reading room.</li>
        <li>All the users are requested to switch off their mobiles or keep it on vibration mode.</li>
        <li>Strict discipline must be maintained in the Library. Indiscipline may lead to disciplinary action and the library privileges may be withdrawn.</li>
        <li>The Librarian may recall any book from any member at any time and the member shall return the same immediately. </li>
        <li>General etiquette are expected from every member of information unit and clientele; as such Singing, Loud Speaking, Shouting, Spitting, Sleeping, Smoking, talking on mobile, etc are strictly prohibited.</li>
   <li>Magazines and journals must be read only in the library on specific tables and should not be taken to any other reading areas. </li>
   <li>Reference material should not be taken outside the Library.</li>
   <li>Show the books and other materials which are being taken out of the library to the staff at the entrance counter.</li>
   <li>Students are instructed to check the books while borrowing and they will be responsible for any type of damage or mutilation noticed at the time of return.</li>
   <li>The Librarian may recall any book from any member at any time and the member shall return the same immediately. </li>
   
    </ul>

</div>
<footer>
    <p>© Copyright 2023  Digital Library </p>
        </footer>