<div class="container"><br>
    
        <h3>Search Book</h3><br>
        <div class="row">
            
            <div class="col-md-4">
                <label for=""><b>Search Book here: </b></label>
                <input type="text" class="form-control" [(ngModel)]="filteredString" />
            </div>
        </div><br><br>

    <table class="table table-striped">
        <thead>
        <tr>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>No. of available books</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let book of books.listOfbook |  filter:filteredString ; let i = index;">
        <td>
            {{book.bookId}}
        </td>
        <td>
            {{book.bookName}}
        </td>
        <td>
            {{book.author}}
        </td>
        <td>
            {{book.availablebooks}}
        </td>
        <td *ngIf="edit == 'admin'"><i class="fa-solid fa-pen" style="cursor: pointer" (click)="editBook(book.bookId)"></i></td>
        <td *ngIf="del == 'admin'"><i class="fa-solid fa-trash-can" (click)="deleteItem(i)"></i></td>
    </tr>
</tbody>
    </table>
    <!-- <p>Deleted booK: {{ deletedBook }}</p> -->
</div>
<footer>
    <p>© Copyright 2023  Digital Library </p>
        </footer>
