form{
    color: white;
}
p{
    color:greenyellow;  
}
.container{
    background-color: rgb(214, 211, 211);
    height: 100vh;
}
footer{
    background-color: gray;
    text-align: center;
   
}
.row{
    display:flex;
    justify-content: center;
    /* align-items: center;
    height: 100vh; */
}
h3{
    font-size: 30px;
    text-align: center;
}
label{
    font-size: 15px;
}