<div class="container"><br>
    <h4>ABOUT US</h4>
   <p>At Digital Library we want to get back the <b>Joy of Reading!</b></p>
   <p>We all have struggled to get that 'one' book to complete our work. Be it a project, office assignment, or reading just for pleasure. It is a challenge to get books at reasonable cost. Readers usually have the option to either buy the books, or rent it through a library and return within a short stipulated time.</p>
   <p>Our quick & efficient Library Management System (LMS) ensures surfing of books online to save time. As a member, you can look up the book you want, reserve it, come to the library and collect it without wasting time.</p>
   <p>We also prove access to online publications and journals at the library.</p>
   <p><b>Become a member today at only Rs.100.</b></p>
</div>
<footer>
    <p>© Copyright 2023  Digital Library </p>
        </footer>
